<div class="container">
  <br/>
  <%= form_for @tree do |form| %>
  <div class="custom-file mb-3">
    <%= form.file_field :image, accept: 'image/png,image/gif,image/jpeg', class: 'custom-file-input' %>
    <%= form.label :image, "Upload Image", class: 'custom-file-label', for: "customFile" %>
  </div>
  <div class="mb-3">
    <button type="button" class="btn btn-primary">Update Coordinates</button>
  </div>

  <div class="mb-3">
    <%= form.label :latitude, class: 'geo-label' %>
    <%= form.number_field :latitude, class: 'geo-field', step: :any %>
  </div>

  <div class="mb-3">
    <%= form.label :longitude, class: 'geo-label' %>
    <%= form.number_field :longitude, class: 'geo-field', step: :any %>
  </div>

  <iframe id="map-link" style="width:100%; height: 300px;" id="gmap_canvas" src="https://maps.google.com/maps?q=plymouth%20uk&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  <div class="mb-3">
  <%= form.submit 'Upload', class: "btn btn-success" %>
    </div>
<% end %>
</div>
