<h1>Welcome#index</h1>

<p><%= formatted_date %></p>

<%= form_tag('/search', method: 'get') do %>
  <%= label_tag(:q, 'Search for:') %>
  <%= text_field_tag(:q) %>
  <%= submit_tag('Search') %>
<% end %>

<button id="alert-button">Display Alert</button>
