<div class="profile-header">
  <h1 class="full-name">
    <%= @profile_user.name %>
  </h1>
  <% if user_signed_in? && current_user.username == params[:username] %>
    <%= link_to "Edit Profile", edit_user_registration_url, class: 'edit-profile' %>
  <% end %>
</div>

<strong><%= @profile_user.email %></strong>

<h2>Posts</h2>
<% if user_signed_in? && current_user.username == params[:username] %>
  <%= link_to "New Post", new_post_path %>
<% end %>

<%= render partial: "posts/list", locals: { posts: @profile_user.posts } %>
